.video-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.city-card{
    width: 40%;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

iframe{
    width: 100%;
}