#details-container{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.navbar-brand  {
    content:url(../assets/images/youtravel-logo.jpg);
    width: 200px;
}

.video-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.city-card{
    width: 40%;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    position: relative;
}

.static {
    width: 94.5%;
    position: absolute;
    z-index: 1;
  }
  
.static:hover {
    opacity:0;
}

.active{
    width: 100%;
    position: relative;

}

.individual-city-details{
    text-align: center;
}

.category-container{
    border: 1px solid black;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 20px;
}

.preview-image{
    width: 100px;
}

.video-card{
    width: 150px;
    border: 1px solid black;
    margin: 7px;
    padding: 5px;
    position: relative;
}

.upload-container{
    text-align: center;
}